.outerCircleContainer {
	min-width: 280px;
	min-height: 280px;
	max-width: 600px;
	max-height: 600px;
	width: 90vw;
	height: 90vw;
	border-radius: 50%;
	// Flex
	display: flex;
	justify-content: center;
	align-items: center;
}
